---
import { getCollection } from "astro:content";
import BenchmarkExplorer from "../components/BenchmarkExplorer";
import Layout from "../layout/layout.astro";

// Get all the data
const allBenchmarks = await getCollection("benchmarks");

// Add State Management
import { useState } from "react";
---

<Layout title="BenchAI1 | Bench All In One">
  <main class="w-[80%] mx-auto px-6 py-20">
    <header class="text-center mb-20">
      <h1 class="text-7xl font-black text-slate-900 mb-6 tracking-tighter">
        Bench<span class="text-orange-650">AI</span>1
      </h1>
      <p class="text-slate-500 text-lg max-w-xl mx-auto">
        The navigator for global AI evaluations. Help you find the best model /
        evaluation.
      </p>
    </header>

    <BenchmarkExplorer client:load allBenchmarks={allBenchmarks} />
  </main>
</Layout>
